.grid-container {
    display: grid;
    background-color: aqua;
    position: absolute;
    left: 200px;
    top: 500px;
    height: 500px;
    width: 800px;
    grid-template-columns: 200px 300px 200px;
    grid-template-rows: 200px 200px 200px;



}