
html         {
            background-color: #FCAE1E;            
            }

            
/* image logo*/
.object-1   {
            position: absolute;
            top: 80px; left: 70px;
            }

/* Menu */
.object-2   { 
            
            position: absolute;
            top: 190px; left: 415px;
            font-size: 0.58cm;
            line-height: 22px;
            color:rgb(255, 255, 255);            
            }
.links a
            {
            
            text-decoration: none;  
            font-family: Verdana, Geneva, Tahoma, sans-serif;  
            }

.info       {
            background-color: rgb(143, 126, 139);
            color: antiquewhite;
            position: absolute;
            left: 770px;
            top: 80px;
            height: 400px;
            width: 450px;
            padding: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            }

.mail       {
            position: absolute;
            left: 90px;
            top: 385px;
            }
.lnk        {
            position: absolute;
            left: 20px;
            top: 385px;
            }

/* Preview */

.grid-container {
    z-index: 0;
    display: grid;
    position: absolute;
    left: 680px;
    top: 65px;
    height: 500px;
    width: 540px;
    padding: 10px;
    background-color: rgba(92, 94, 91, 0.521);
    /* grid-gap:1px; */
    grid-template-columns: 170px 170px 170px;
    grid-template-rows: 250px 200px 200px;
            }  
            
            
/* hoVRRRR */


.thumbnail
    {
    position: absolute;
    z-index: 1;
    }
    
.thumbnail:hover
    {
    z-index: 1;
    }
    
.thumbnail span
        {
        position: absolute;
        visibility: hidden;
        
        }

.thumbnail span img
            {
            width: 250px;
            }
    
.thumbnail:hover span
    { 
    visibility: visible;
    top: -10px;
    left: -100px; /*position where enlarged image should offset horizontally */
    }
    

/* image preview */
.object-4   {
            position: absolute;
            left: 1130px; top: 620px; 
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: bold;
            
            }

