html         {

            background-color: white;            

            }

            

/* image logo*/

.object-1   {

            position: absolute;

            top: 80px; left: 100px;
            

            }

/* Menu */

.object-2   { 

            position: absolute;

            top: 190px; left: 415px;

            font-size: 0.58cm;

            line-height: 22px;

            color:black;            

            }

.links a

            {

            text-decoration: none;  

            font-family: Verdana, Geneva, Tahoma, sans-serif;  
            }           
.win { position: absolute; z-index: 3;

    left: 50px;

    top: 630px;

}




.info       {

            background-color: #f0f8ff;

            position: absolute; z-index:1;

            left: 180px;

            top: 720px;

            height: 580px;

            width: 460px;

            padding: 20px;

            font-family: Arial, Helvetica, sans-serif;

            font-size: 15px;

            }

/* Preview */

.grid-container {

    display: grid;

    background-color: #f0f8ff;
position: absolute;
    left: 100px;
    top: 700px;
    height: 760px;
    width: 600px;
    padding: 20px;

    /* grid-gap:1px; */

    grid-template-columns: 160px 160px;

    grid-template-rows: 200px 200px;

            }           

/* image preview */

.object-4   {

            

            font-family: Arial, Helvetica, sans-serif;

            font-size: 18px;

            font-weight: bold;

            color:white;

            }
  .rect       {

            position: absolute;

            top: 95px;

            left: 100px;

            }


           
            
